// Panton
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Panton";

  src: url("/assets/fonts/Panton/Panton-ExtraBold.eot");
  src: local("Panton ExtraBold"), local("Panton-ExtraBold"),
  url("/assets/fonts/Panton/Panton-ExtraBold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Panton/Panton-ExtraBold.woff") format("woff"),
  url("/assets/fonts/Panton/Panton-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Panton";

  src: url("/assets/fonts/Panton/Panton-Bold.eot");
  src: local("Panton Bold"), local("Panton-Bold"),
  url("/assets/fonts/Panton/Panton-Bold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Panton/Panton-Bold.woff") format("woff"),
  url("/assets/fonts/Panton/Panton-Bold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Panton";

  src: url("/assets/fonts/Panton/Panton-SemiBold.eot");
  src: local("Panton SemiBold"), local("Panton-SemiBold"),
  url("/assets/fonts/Panton/Panton-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Panton/Panton-SemiBold.woff") format("woff"),
  url("/assets/fonts/Panton/Panton-SemiBold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Panton";

  src: url("/assets/fonts/Panton/Panton-Regular.eot");
  src: local("Panton Regular"), local("Panton-Regular"),
  url("/assets/fonts/Panton/Panton-Regular.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Panton/Panton-Regular.woff") format("woff"),
  url("/assets/fonts/Panton/Panton-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Panton";

  src: url("/assets/fonts/Panton/Panton-Black.eot");
  src: local("Panton Black"), local("Panton-Black"),
  url("/assets/fonts/Panton/Panton-Black.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Panton/Panton-Black.woff") format("woff"),
  url("/assets/fonts/Panton/Panton-Black.ttf") format("truetype");
}
