// Font
$mainFont                : 'Panton', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #1d1e1e;
$mainFontSize            : 16px;
$mainFontWeight          : normal;
$mainLineHeight          : 1;

$lgDesktopWidth          : 1440px;
$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$tableWidth              : 768px;
$phoneWidth              : 576px;
$smPhoneWidth            : 320px;


// $grid-gutter-width       : 30px;
$grid-breakpoints        : (xs: 0,
                            sm: 576px,
                            md: 768px,
                            lg: 992px,
                            xl: 1200px,
                           xxl: 1440px);

$container-max-widths    : (sm: 540px,
                            md: 720px,
                            lg: 960px,
                            xl: 1170px);


// Main color
$dark-color              : #000000;
$default-color           : #ffffff;
$primary-color           : #0086c0;
$success-color           : #00963f;
// $danger-color            : #ff005d;
// $warning-color           : #df7f35;

// Background
$primary-bckgr           : #009ee2;
$light-bckgr             : #efefef;
// $default-bckgr           : #f7f7fc;
// $hover-bckgr             : #1c1a1a;

// Neutral Color
// $neutral-primary         : #595666;
// $neutral-regular         : #121212;
// $neutral-secondary       : #AEAEAE;
// $neutral-placeholder     : #CACACA;

// Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;

// Transition
$def-transition      : all .3s cubic-bezier(0.25, 0.1, 0.25, 1);
$long-transition         : all .8s cubic-bezier(0.25, 0.1, 0.25, 1);