.btn {
  display: block;
  width: 100%;
  max-width: 225px;
  padding: 20px 15px 22px;
  color: $default-color;
  background-image: linear-gradient(to left, #0187c1 0%, #3ac0ef 100%);
  border-radius: 3px;
  letter-spacing: rem(3.2);
  text-transform: uppercase;
  text-align: center;
  transition: $def-transition;

  &:hover {
    background-image: linear-gradient(to left, $primary-bckgr 0%, $primary-bckgr 100%);
  }

  &--dark {
    max-width: 175px;
    background-color: $mainFontColor;
    background-image: none;

    &:hover {
      color: $primary-color;
      background-image: none;
    }
  }
}