.btn {
  display: block;
  max-width: 225px;
  padding: 20px 15px 22px;
  color: $default-color;
  letter-spacing: rem(3.2);
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  transition: $def-transition;

  &:hover {

  }

  &--dark {
    max-width: 175px;
    background-color: $mainFontColor;

    &:hover {
      color: $primary-color;
    }
  }
}