.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 21.95vw;
  padding: rem(93) rem(20);
  background-color: #262b2e;

  &__icons {
    display: flex;
    justify-content: center;
  }
}