.form {
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: rem(15) rem(25) rem(14);
  font-size: rem(14);
  border: 1px solid #dddddd;
  border-radius: 3px;
  transition: $def-transition;
}

.form__input::placeholder {
  color: $mainFontColor;
  font-size: rem(14);
  letter-spacing: rem(0.7);
}

.form__input:focus,
.form__input:active {
  border-color: $primary-color;
  outline: none;
}

.form__submit {
  background: none;
  
  &--search {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 41px;
    padding: 11px 19px;
  }
}