.header {
  width: 100%;
}

.header__wrapper {
  width: 100%;

  &--dark {
    background-color: $mainFontColor;
  }

  &--transparent {
    margin-top: 40px;
    margin-bottom: 34px;
  }

  &--light {
    background-color: $light-bckgr;
  }
}

.header__links {
  display: flex;
  align-items: center;
  height: 100%;
  
  &--main {
    height: 45px;
  }

  &--refs {
    justify-content: space-between;
  }
}

.header__link {
  display: flex;
  align-items: center;
  color: $default-color;
  font-size: rem(14);
  line-height: rem(25);
  letter-spacing: rem(0.35);
  transition: $def-transition;

  &:not(:first-child) {
    margin-left: 29px;
  }

  &:not(:last-child)::after {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: 29px;
    border: 2px solid #6a6a6a;
    border-radius: 50%;
  }

  &:hover {
    color: $primary-color;
  }
}

.header__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  p {
    color: $default-color;
    font-size: rem(13);
    line-height: rem(25);
    letter-spacing: rem(0.33);
  }
  
  .header__tel {
    margin-left: 30px;
    color: $primary-bckgr;
    font-weight: 700;
    font-size: rem(20);
    letter-spacing: rem(0.5);
  }
}

.header__misc {
  position: relative;
  margin-right: 18px;
  margin-left: 18px;

  &--refer {
    width: 26px;
    height: 26px;
  }

  &--heart {
    width: 28px;
    height: 24px;
  }

  &--cart {
    width: 28px;
    height: 26px;
  }

  span {
    position: absolute;
    color: $primary-bckgr;
    top: -4px;
    right: -12px;
  }
}
