.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 1px;
  margin-left: 1px;
  fill: rgba($dark-color, 0.7);
  transition: $default-transition;

  &:hover {
    background-color: rgba($dark-color, 0.7);
    fill: $success-color;
  }

  &--big {
    width: 46px;
    height: 40px;
    margin-right: 3.5px;
    margin-left: 3.5px;
    background-color: rgba(#8d8d8d, 0.34);
    fill: $default-color;
  }

  &--big:hover {
    background-color: #71f6eb;
    fill: rgba($dark-color, 0.95);    
  }

  &--star {
    width: 16px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
    fill: #f2da3b;
  }

  &--arr {
    width: 0.97vw;
    fill: unset;
  }

  &--arr:hover {
    background-color: unset;
    fill: unset;
  }

  &--arr-turned {
    transform: rotate(180deg);
  }
  
  &__fb {
    width: 8px;
    height: 13px;
  }
  
  &__fb-big {
    width: 12px;
    height: 22px;
  }
  
  &__tw {
    width: 17px;
    height: 12px;
  }
  
  &__tw-big {
    width: 21px;
    height: 18px;
  }
  
  &__dribble {
    width: 12px;
    height: 12px;
  }
  
  &__dribble-big {
    width: 21px;
    height: 21px;
  }
  
  &__email {
    width: 17px;
    height: 13px;
  }
  
  &__pinterest-big {
    width: 17px;
    height: 22px;
  }
  
  use {
    display: block;
    width: 100%;
    height: 100%;
  }


  @include media-breakpoint-down(lg) {
    
    &--arr {
      width: 1.15vw;
    }
  }
}