.logo {
  color: $primary-color;
  font-size: rem(50);
  font-weight: 900;
  letter-spacing: rem(4.5);
  transition: $long-transition;
  
  span {
    text-transform: uppercase;
  }
  
  &:hover {
    color: $success-color;
  }
}