.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__item {
  position: relative;

  font-weight: 700;
  font-size: rem(14);
  color: $mainFontColor;
  text-transform: uppercase;
  letter-spacing: rem(0.7);

  transition: $def-transition;

  &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 50%;

    width: 15px;
    height: 15px;

    background-color: $default-color;
    transform: translateX(-50%) rotate(45deg);
    opacity: 0;

    transition: $def-transition;
  }

  &:hover {
    color: $primary-bckgr;
  }

  &:hover::before {
    opacity: 1;
  }
}
