.section {
  padding-top: vw(125);
  padding-bottom: vw(125);

  &--py110 {
    padding-top: vw(110);
    padding-bottom: vw(110);
  }

  $padding-bottoms: 85, 110, 195;
  @each $numb in $padding-bottoms {
    &--pb#{$numb} {
      padding-bottom: vw($numb);
    }
  }

  $background-colors:
    "grey" rgba(239, 240, 242, 0.99),
    "light" #f8fafa,
    "lighter" #f9fbfb;
  @each $name, $value in $background-colors {
    &--#{$name} {
      background-color: $value;
    }
  }

  &--bg-1 {
    background: top center / cover no-repeat url(/assets/img/bg-1.png);
  }
  
  &__title {
    padding-bottom: rem(15);
    color: rgba($color: $dark-color, $alpha: .9);
    font-size: rem(38);
    font-family: $secondFont;
    font-weight: 700;
    letter-spacing: rem(2.28);
    text-transform: uppercase;
    text-align: center;
    
    span {
      display: inline-block;
      padding-right: rem(14);
      padding-left: rem(14);
      background-color: rgba(118, 244, 234, 0.5);
    }
  }
  
  &__title--main {
    padding-top: 1.4vw;
    padding-bottom: 10vw;
    color: #505050;
    font-size: rem(45);
    line-height: rem(55);
    letter-spacing: rem(2.7);
    text-shadow: rem(4) rem(8) rem(10) rgba(0, 0, 0, 0.24);
  }
  
  &__subtitle {
    color: rgba($color: $dark-color, $alpha: .62);
    font-family: $thirdFont;
    font-size: rem(18);
    text-transform: uppercase;
    letter-spacing: rem(1.08);
    text-align: center;
  }

  &__decor {
    position: absolute;
  }

  &__decor--juice {
    bottom: rem(-120);
    right: 3vw;
    width: rem(121);
    height: rem(156);
    background: center / contain no-repeat url(/assets/img/juice-1.png);
  }

  @include media-breakpoint-down(lg) {

    padding-top: 7vw;
    padding-bottom: 7vw;

    &--pb195 {
      padding-bottom: 11.5vw;
    }

    &--pb85 {
      padding-bottom: 4.5vw;
    }

    &--pb110 {
      padding-bottom: 6vw;
    }

    &--py110 {
      padding-top: 6vw;
      padding-bottom: 6vw;
    }

    &__decor--juice {
      bottom: rem(-80);
      right: 0;
    }
  }

  @include media-breakpoint-down(xs) {

    padding-top: 10vw;
    padding-bottom: 10vw;
      
    &--pb195 {
      padding-bottom: rem(150);
    }

    &__title--main {
      line-height: rem(60);
    }

    &__title,
    &__subtitle {
      padding-right: 14px;
      padding-left: 14px;
    }
  }
}