.text {
  position: relative;
  margin-bottom: 2.5vw;
  color: rgba($dark-color, 0.75) ;
  line-height: rem(25);
  letter-spacing: rem(0.5);

  &__wrap {
    margin-right: 1.95vw;
    margin-left: 5vw;
  }

  &--title {
    margin-top: 0.35vw;
    margin-bottom: 1.95vw;
    font-family: $thirdFont;
    font-size: rem(20);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: rem(1.2);
  }

  &--z-ind2 {
    z-index: 2;
  }
  
  &--maxw397 {
    max-width: rem(397);
  }

  &--mt0 {
    margin-top: 0;
  }

  $margin-bottoms: 0, 18, 22, 30;
  @each $numb in $margin-bottoms {
    &--pb#{$numb} {
      margin-bottom: rem($numb);
    }
  }

  $colors:
    "def" $default-color,
    "def-light" rgba($default-color, 0.8),
    "def-lighter" rgba($default-color, 0.7),
    "dark" $dark-color,
    "darker" #272727,
    "light" rgba(#767070, 0.95),
    "lighter" rgba(#787878, 0.95);
  @each $name, $value in $colors {
    &--color-#{$name} {
      color: $value;
    }
  }

  &--fw-norm {
    font-weight: normal;
  }

  &--fs15 {
    font-size: rem(15);
  }

  &--italic {
    font-style: italic;
  }

  &--lh20 {
    line-height: rem(20);
  }

  &--lh22 {
    line-height: rem(22);
  }

  $opacities: 70, 80, 91;
  @each $numb in $opacities {
    &--op#{$numb} {
      opacity: $numb;
    }
  }

  $letter-spacings:
    "090" 0.9,
    "040" 0.4,
    "032" 0.32,
    "016" 0.16;
  @each $name, $value in $letter-spacings {
    &--lspac#{$name} {
      letter-spacing: rem($value);
    }
  }

  &--transf-none {
    text-transform: none;
  }

  &--transf-upper {
    text-transform: uppercase;
  }

  &--centered {
    text-align: center;
  }


  @include media-breakpoint-down(lg) {
    
    margin-bottom: 1.5vw;

    &--title {
      margin-bottom: 1vw;
    }

    &__wrap {
      margin-right: 0;
      margin-left: 3vw;
    }
  }

  @include media-breakpoint-down(md) {
    
    font-size: rem(15);
    line-height: rem(21);
  }

  @include media-breakpoint-down(xs) {
    
    margin-bottom: 2.5vw;
    font-size: rem(19);
    line-height: rem(28);

    &--title {
      margin-bottom: 2.3vw;
      font-size: rem(24);
    }
  }
}